/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/p4ne.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/Lab1.5/config_files/config_files/bee-catme3400_10.12.226.50.txt
/Lab1.5/config_files/config_files/cam-dsw1_10.12.232.198.txt
/Lab1.5/config_files/config_files/cam-koks-nord-asw1_10.12.231.239.txt
/Lab1.5/config_files/config_files/cam-koks-south-asw1_10.12.231.240.txt
/Lab1.5/config_files/config_files/cod-asw1_10.12.225.52.txt
/Lab1.5/config_files/config_files/cod-asw2_10.12.225.39.txt
/Lab1.5/config_files/config_files/cod-crsw1_10.12.232.200.txt
/Lab1.5/config_files/config_files/cod-old-asw1_10.12.233.114.txt
/Lab1.5/config_files/config_files/cod-wan-gw1.txt
/Lab1.5/config_files/config_files/cod-wan-gw2.txt
/Lab1.5/config_files/config_files/gidep-crsw1_10.12.232.192.txt
/Lab1.5/config_files/config_files/itc-level1-2-asw1_10.12.226.114.txt
/Lab1.5/config_files/config_files/k17-sat3-cat3560c_10.12.234.222.txt
/Lab1.5/config_files/config_files/kramz-ok-dsw1_10.12.232.206.txt
/Lab1.5/config_files/config_files/lo3-dsw1_10.12.236.173.txt
/Lab1.5/config_files/config_files/master17-cat3560c_10.12.234.237.txt
/Lab1.5/config_files/config_files/nzu-asw1_10.12.228.180.txt
/Lab1.5/config_files/config_files/ob45-cat3750x_10.12.234.239.txt
/Lab1.5/config_files/config_files/parking1-cat3560c_10.12.231.170.txt
/Lab1.5/config_files/config_files/Parking-cat3560c_10.12.233.54.txt
/Lab1.5/config_files/config_files/rcu-dsw1_10.12.228.248.txt
/Lab1.5/config_files/config_files/servc-asw1_10.12.226.177.txt
/Lab1.5/config_files/config_files/zu-dsw1_10.12.224.180.txt
/Lab1.5/config_files/config_files/zu-dsw1_10.12.232.199.txt
